/* formateando html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    line-height: 32px;
}

/* estilos del header */
.header{
    background-color: #2a2a2a;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.logo{
    display: inline-block;
    width: 20%;
    height: auto;
    margin: 15px;
    vertical-align: middle; 
}

.header nav ul {
    list-style: none;
    
}

.header nav ul li {
    margin: 10px 15px;
    display: inline-block;   
}

.header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;    
}

.header nav ul li a:hover {
    color: red;
    text-decoration: underline;
}

/* estilos al cuerpod e la pagina */
#about{
    padding: 80px 20px;
    text-align: center;
}

#about img{
    max-width: 100%;
    height: auto;
    margin-top: 20px ;
}

.footer{
    background-color: #2a2a2a;
    color: #f0f0f0;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

